.image{
  width: 300px;
  height: 300px;
  margin-top: 170px;
}
.bgcolor{
  background-color: #1ed497
}
.fonts{
  font-size: 30px !important;
}
.underline{
  border-bottom: 3px solid white !important;
  width: 100px;
  margin-bottom: 10px;
}
.underline1{
  border-bottom: 3px solid black !important;
  width: 100px;
  margin-bottom: 10px;
}
.fontSize{
  font-size: 16px;
  font-weight: 700;
}
.lines{
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
}
.circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
}
.circle:hover{
background-color: white;
color: black;
}
.active,
.back:hover{
background-color: #1ed497;
border-radius: 5px;
}
.lines{
  width: 100%;
}
.rotate{
  transition: all 1s ease;
}
.rotate:hover{
  transform: rotate(360deg);
}
.zoom{
  transition: all 1s ease;
}
.zoom:hover{
  transform: scale(1.1) !important;
}